body {
  margin: 0;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.full-logo-container {
  text-align: center;
}

.full-logo {
  max-width: 90vw;
  max-height: 90vh;
  width: auto;
  height: auto;
}
